<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello world</h1>
    <small>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quam
      pariatur, nihil laboriosam odio sapiente sequi unde adipisci alias. Dicta
      aliquam ad, blanditiis illum voluptatibus a adipisci voluptate officia
      deserunt.
    </small>
  </body>
</html>
